@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}




/* Top Navigation Bar */
.nav-menu {
    position: fixed; /* Fixes the nav bar at the top */
    top: 0; /* Align it at the top of the page */
    left: 0; /* Stretch it across the entire width */
    width: 100%; /* Full width */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box; /* Include padding in the element's total width */
    color: white;
    z-index: 1; /* Keeps it above other content */
    list-style-type: none;
}



/* Setting the text decoration to none allows the usual hyperlink style to be overwritten */
.nav-menu a {
    color: white;
    text-decoration: none;
}

.logoContainerForCentering{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Makes the section take up full screen height */
}

/* Paris Online Main Logo on landing page */
#mainLogo {
    max-width: 300px;
    z-index: 10;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, );
}

.testingScroll {
    display: flex;
    flex-direction: column; /* Distribute items vertically */
    justify-content: center; /* Center items vertically in the container */
    align-items: center; /* Center items horizontally in the container */
    height: 100vh; /* Make the container full viewport height */
}

.heightbox {
    height: 100px; /* Adjust as needed */
    display: flex;
    align-items: center; /* Center text vertically within each box */
    justify-content: center; /* Center text horizontally within each box */
    margin: 10px 0; /* Space between the boxes */
    font-size: xx-large;
}

.backgroundGif {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 101%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: -2;
}

/* Media query for ultrawide screens */
@media screen and (min-aspect-ratio: 1.8/1) {
    .backgroundGif {
        min-width: 100%;
        height: auto;
        min-height: unset; /* Remove min-height to avoid conflict */
    }
}

.testopacityscroll {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 101%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: -1;
}